<html>
<head>
	<title>node</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://192.168.0.13:8881/socket.io/socket.io.js"></script>
    <script src="http://192.168.0.13:8881/js/remote.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script>
    var socket = io.connect('192.168.0.13:8881');
    socket.on('connect', function(){
        Remote.init();
    });

    </script>

    <style type="text/css">
    body{
        width: 100%;
        background: #000;
        margin: 0px;
        padding: 0px
    }
    div{
        width: 50%;
        height: 50%;
        float: left;
    }
    #next{
        background: red;
    }
    #prev{
        background: blue;
    }
    #h{
        background: green;
    }
    #play{
        background: white;
    }
    </style>

</head>
<body>
    <div id="next"></div>
    <div id="prev"></div>
    <div id="h">H</div>
    <div id="play">play</div>
</body>
</html>
